<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Dashboard</title>

        <!-- Bootstrap core CSS -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="dashboard.css" rel="stylesheet">

     <style>
    tbody>tr{ cursor: pointer; }
    </style>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top main">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong>Letter Generator</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li>    <a class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Profile
    <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{g.user.username}}</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('index')}}">MyProjects</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{g.user.password}}</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('logout')}}">logout</a></li>
    </ul></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <button class="btn btn-success right" data-toggle="modal" href="#myModal1">Create New Project</button>
            </div>
            <div class="row">
                <div class="main">
                    <h2 class="sub-header">My Projects</h2>
                    <div class="table-responsive">
                        <table class="table table-hover"  id="sample">
                            <thead>
                                <tr>
                                    <th  style="width: 10%;">No</th>
                                    <th  style="width: 40%;">Project Name</th>
                                    <th  style="width: 20%;">No of Instances</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for project in temp  %}
                                <tr class='clickable-row'>
                                    <td>{{loop.index}}</td>
                                    <td>{{project}}</td>
                                    <td>2882</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">CREATE PROJECT</h4>
                    </div>
                    <div class="modal-body">
                        <form   role="form" data-toggle="validator" action="{{url_for('create')}}" method="POST" enctype=multipart/form-data>
                            <div class="form-group">
                                <label for="projectname">Project Name</label>
                                <input type="text" class="form-control" name="projectname" id="projectname" placeholder="Name for the Project" required >
                            </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Template</label><br>
                                        <input type="file" id="browse" name="file" style="display: none" onChange="Handlechange();"/>
                                        <div class="col-xs-8" style="padding-left:0px;">
                                            <input type="text" class="form-control" id="filename" placeholder="Select a template" required >
                                        </div>
                                        <input type="button" class="btn btn-primary btn-sm" value="Browse" id="fakeBrowse" onclick="HandleBrowseClick();"/>
                                 </div>
                            <div class="form-group">
                                <label for="url">Data Feed Url</label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="Url" required>
                            </div>
                        <hr>
                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Try It</button>
                        <button type="submit" value="upload" class="btn btn-success btn-sm">Create</button>
                     </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/colResizable-1.5.min.js"></script>
            <script type="text/javascript">
        function HandleBrowseClick()
        {
            var fileinput = document.getElementById("browse");
            fileinput.click();
        }

        function Handlechange()
        {
            var fileinput = document.getElementById("browse");
            var textinput = document.getElementById("filename");
            textinput.value = fileinput.value;
        }
       $("#sample").colResizable({
           liveDrag:true,
            gripInnerHtml:"<div class='grip'></div>",
            draggingClass:"dragging"
       });
         $("#sample tbody tr").click(function(){
           $(this).addClass('selected').siblings().removeClass('selected');
           var projectname=$(this).find('td:nth-child(2)').text();
           var templatename=$(this).find('td:nth-child(3)').text();
                var fd = new FormData();
                fd.append('filename', templatename);
                fd.append('projectname', projectname);
               window.location.assign("{{url_for('preview')}}?filename="+templatename+"&projectname="+projectname);
            });
    </script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
