<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% if session['logged_in'] %}
        <p>You're logged in already!</p>
        <a href="/logout"> LOGOUT </a>
    </br>
        {% else %}
        <form action="/login" method="POST">
          <input type="username" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Log in">
        </form>
        {% endif %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </body>
</html>
