<html>
<head>
    <title>Rendered Template</title>
</head>
<body>

<iframe id="frame" src ="" width='100%' height='100%' allowfullscreen webkitallowfullscreen> </iframe>


<script src="{{url_for('static',filename='webodf.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  document.getElementById("frame").src =  "/ViewerJS/#{{url_for('static',filename='users/')}}{{g.user.username}}/{{projectname}}/out/{{templatename}}?"+new Date().valueOf();
  // odfcanvas = new odf.OdfCanvas(odfelement);
  // odfcanvas.load("{{url_for('static',filename='users/')}}{{g.user.username}}/{{projectname}}/out/{{templatename}}?"+new Date().valueOf());
</script>
</body>
</html>
